interrep/wave-msgs/src/main/resources/xml/NTCIP.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler 
    (http://www.obj-sys.com). Version: 6.3.1, Date: 02-Jun-2010. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.DSRC-Adopted-02-00-36/NTCIP" targetNamespace="http://www.DSRC-Adopted-02-00-36/NTCIP"
    xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
    elementFormDefault="qualified"
>
    <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
        schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd" />

    <xsd:simpleType name="EssPrecipYesNo">
        <!-- Enumeration Identifier Information -->
        <xsd:annotation>
            <xsd:appinfo>
                <asn1:EnumInfo>
                    <asn1:EnumItem name="precip" value="1" />
                    <asn1:EnumItem name="noPrecip" value="2" />
                    <asn1:EnumItem name="error" value="3" />
                </asn1:EnumInfo>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="precip" />
            <xsd:enumeration value="noPrecip" />
            <xsd:enumeration value="error" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="EssPrecipRate">
        <xsd:restriction base="xsd:unsignedShort" />
    </xsd:simpleType>

    <xsd:simpleType name="EssPrecipSituation">
        <!-- Enumeration Identifier Information -->
        <xsd:annotation>
            <xsd:appinfo>
                <asn1:EnumInfo>
                    <asn1:EnumItem name="other" value="1" />
                    <asn1:EnumItem name="unknown" value="2" />
                    <asn1:EnumItem name="noPrecipitation"
                        value="3" />
                    <asn1:EnumItem name="unidentifiedSlight"
                        value="4" />
                    <asn1:EnumItem name="unidentifiedModerate"
                        value="5" />
                    <asn1:EnumItem name="unidentifiedHeavy"
                        value="6" />
                    <asn1:EnumItem name="snowSlight"
                        value="7" />
                    <asn1:EnumItem name="snowModerate"
                        value="8" />
                    <asn1:EnumItem name="snowHeavy" value="9" />
                    <asn1:EnumItem name="rainSlight"
                        value="10" />
                    <asn1:EnumItem name="rainModerate"
                        value="11" />
                    <asn1:EnumItem name="rainHeavy" value="12" />
                    <asn1:EnumItem name="frozenPrecipitationSlight"
                        value="13" />
                    <asn1:EnumItem name="frozenPrecipitationModerate"
                        value="14" />
                    <asn1:EnumItem name="frozenPrecipitationHeavy"
                        value="15" />
                </asn1:EnumInfo>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="other" />
            <xsd:enumeration value="unknown" />
            <xsd:enumeration value="noPrecipitation" />
            <xsd:enumeration value="unidentifiedSlight" />
            <xsd:enumeration value="unidentifiedModerate" />
            <xsd:enumeration value="unidentifiedHeavy" />
            <xsd:enumeration value="snowSlight" />
            <xsd:enumeration value="snowModerate" />
            <xsd:enumeration value="snowHeavy" />
            <xsd:enumeration value="rainSlight" />
            <xsd:enumeration value="rainModerate" />
            <xsd:enumeration value="rainHeavy" />
            <xsd:enumeration value="frozenPrecipitationSlight" />
            <xsd:enumeration value="frozenPrecipitationModerate" />
            <xsd:enumeration value="frozenPrecipitationHeavy" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="EssSolarRadiation">
        <xsd:restriction base="xsd:unsignedShort" />
    </xsd:simpleType>

    <xsd:simpleType name="EssMobileFriction">
        <xsd:restriction base="xsd:unsignedByte">
            <xsd:minInclusive value="0" />
            <xsd:maxInclusive value="101" />
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>